<div class="container text-center padded">
  <ul class="list-inline text-center">
    <h1>Our team</h1>
    <% ["anne", "romain", "seb"].each do |member| %>
      <li>
        <h3><%= member.capitalize %></h3>
        <%= image_tag "#{member}.jpg", class: "img-circle avatar-team-large" %>
      </li>
    <% end %>
  </ul>

  <h3 class="padded">
    <a href="mailto:contact@airbnb.com"><i class="fa fa-envelope"></i>  contact@airbnb.com</a>
  </h3>
</div>

